.hidden {
    display: none!important;
}


/* Don't even try hiding my tooltip <https://stackoverflow.com/questions/491052/minimum-and-maximum-value-of-z-index> */

.tooltip .tooltiptext {
    visibility: hidden!important;
    display: none!important;
    color: #fff;
    text-align: center;
    padding-right: 10px!important;
    /* Position the tooltip */
    position: absolute!important;
    z-index: 16777271!important;
}

.tooltiptext-reddit-post {
    background-color: white;
    max-width: 350px;
    height: auto;
}

.tooltiptext-youtube {
    width: 560px!important;
    height: 315px!important;
}

.tooltip:hover .tooltiptext {
    visibility: visible!important;
    display: initial!important;
    z-index: 16777271!important;
}