.survol-container.hidden {
    display: none!important;
}


/* Don't even try hiding my tooltip <https://stackoverflow.com/questions/491052/minimum-and-maximum-value-of-z-index> */

.survol-container {
    background-color: transparent;
    z-index: 16777271!important;
    position: absolute!important;
    word-wrap: break-word;
}

.survol-container h1 {
    line-height: 24px;
}

.survol-tooltiptext-youtube {
    width: 560px!important;
    height: 315px!important;
}

.survol-tooltiptext-reddit-post {
    max-width: 350px;
    height: auto;
}

.survol-divider {
    background-color: lightgrey;
    width: 100%;
    height: 1px;
}