.survol-reddit-container {
    box-shadow: 0 30px 90px -20px rgba(0, 0, 0, 0.3), 0 0 1px 1px rgba(0, 0, 0, 0.05);
    height: auto;
    text-align: center;
    /* Remove if you remove the padding-right on the container above */
    width: calc(100% + 20px);
}

.survol-reddit-top, .survol-reddit-sublink {
    color: grey;
    text-align: center;
}

.survol-reddit-image {
    max-height: 150px;
    width: auto;
    margin: auto;
    display: block;
    padding: 8px;
    border-radius: 10px;
}

.survol-reddit-text {
    padding: 16px!important;
    min-height: 40px;
}

.survol-reddit-text p {
    margin: 8px;
    color: rgb(0, 0, 0)!important;
    text-align: justify!important;
    text-justify: auto!important;
}