.survol-code-preview {
    background-color: #1c1b1b;
    color: white;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.survol-container.dark-theme .survol-code-preview {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}