.survol-wikipedia-container {
    background-attachment: scroll;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    min-width: 300px;
    line-height: 20px;
    padding: 0px!important;
    width: 320px;
    margin: 0px!important;
}

.survol-wikipedia-image {
    transform-origin: 0px 0px;
    width: 320px;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 240px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.survol-wikipedia-text {
    padding: 16px!important;
    min-height: 40px;
    /*position:relative;*/
}

.survol-wikipedia-text h1 {
    font-style: bold;
    font-size: 24px;
    margin-bottom: 12px;
    line-height: 24px;
}

.survol-wikipedia-text p,
.survol-wikipedia-text h1 {
    margin: 8px;
    text-align: left!important;
    /* text-justify: auto!important;*/
}