body {
    text-align: center;
    margin: 0px;
    font-family: "Segoe UI", Tahoma, system-ui, sans-serif;
    transition: ease-in-out 0.2s;
}

body.dark-theme {
    background-color: rgb(24, 26, 27);
    color: white!important;
}

.extension-container {
    min-height: 100vh;
    position: absolute;
    width: 40vw;
    border-right: solid lightgray 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.dark-theme .extension-container {
    border-right: solid gray 1px;
}

.changelog-container {
    width: calc(60vw - 48px);
    margin-left: 40vw;
    padding: 24px;
}

.changelog-header h2 {
    display: inline!important;
}

.changelog-header a {
    color: #007AFF;
    font-size: 22px;
}

.grid-container {
    width: 70%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    transform: scale(0.75);
}

.popup .title {
    margin: 0px;
}

.popup .subtitle {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 4px;
}

.popup p {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 12px;
}

.popup .currentURL {
    font-size: 18px;
    font-style: italic;
}

.release-section {
    text-align: left;
}

.release-section li,
.release-section div {
    font-size: 16px;
}

.release-section div {
    margin-left: -20px;
    margin-bottom: 12Px;
    margin-top: 12px;
}


/* w3schools switch
The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #28d431;
}

input:focus+.slider {
    box-shadow: 0 0 1px#28d431;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

h1 {
    font-size: 36px;
    margin: 0px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

#innerLinksList {
    max-width: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 12px;
}