@font-face {
    font-family: 'Nunito';
    src: url('/NunitoRegular.ttf') format('ttf');
}

.nunito {
    font-family: 'Nunito', sans-serif !important;
}

#section1 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#icon {
    transform: scaleX(-1);
}

.text-column,
.logo-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-column button,
#installSection .buttons .button {
    display: inline!important;
}

#installSection .buttons .button {
    margin-left: auto;
    margin-right: auto;
}

.chrome {
    margin-right: 6px!important;
}

.firefox {
    margin-left: 6px!important;
}

.logo-column {
    align-items: center;
}

.buttons {
    margin-top: -12px;
}

.links {
    text-align: center;
}

.links .link {
    margin-right: auto;
    margin-left: auto;
}

.contributor-image {
    border-radius: 50%;
    width: 64px;
}

.contributor-table {
    margin-bottom: 32px;
    border-radius: 10px;
}

.table td {
    vertical-align: middle;
    display: table-cell;
}

.table td a {
    overflow-wrap: anywhere;
}

@media screen and (max-width: 1023px) {
    #section1 .columns {
        margin-top: 72px!important;
    }
    .container {
        padding-right: 32px;
        padding-left: 32px;
        text-align: center;
    }
    #install {
        margin-top: 24px;
    }
    .buttons,
    .button {
        display: block;
    }
    #installSection .buttons .button {
        display: block!important;
    }
    .links {
        flex-direction: column;
    }
}