:root {
    --primary-color: #007aff;
    --secondary-color: #4A4A4A;
}

@font-face {
    font-family: 'Nunito';
    src: url('/NunitoRegular.ttf') format('ttf');
}

body, html {
    margin: 0;
    padding: 0;

    background-color: var(--primary-color);
    color: white;
    font-family: 'Nunito', sans-serif !important;
}

/* Background */

.airplane {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: url(../images/airplane.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.03;
}

/* Links */

.links .fa-github {
    color: white;
}

/* Hero */

.hero {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    max-width: 50rem;
    margin: auto;
    margin-top: 1rem;
}


/* Utilities */

.hidden {
    display: none!important;
}

.contributor-image {
    border-radius: 50%;
    width: 64px;
}

.contributor-table {
    margin-bottom: 32px;
    border-radius: 10px;
}

.table td {
    vertical-align: middle;
    display: table-cell;
}

.table td a {
    overflow-wrap: anywhere;
}

.link {
    color: var(--secondary-color);
}
